modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["lsof"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install Dependencies"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin Back-office"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mobile Banking App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Banking API Server"

[[workflows.workflow]]
name = "Install Dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && cd ../mobile && npm install && cd ../backoffice && npm install"

[[workflows.workflow]]
name = "Admin Back-office"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backoffice && npm run dev"
waitForPort = 3000

[[workflows.workflow]]
name = "Mobile Banking App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && node serve-demo.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Banking API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 8000

[deployment]
run = ["sh", "-c", "cd server && npm install && cd ../mobile && npm install && cd ../backoffice && npm install"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 6000

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8002
externalPort = 3001

[[ports]]
localPort = 8003
externalPort = 3002

[[ports]]
localPort = 8004
externalPort = 3003

[[ports]]
localPort = 8005
externalPort = 4200

[[ports]]
localPort = 8006
externalPort = 5000

[[ports]]
localPort = 8007
externalPort = 5173

[[ports]]
localPort = 8081
externalPort = 8081
